<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>  </title>
</head>
<body>
 <div id="root"><%=app%></div>

 <script>

     window.__PRELOADED_STATE__ = <%-JSON.stringify(state)%>


 </script>


     <!--c = '<% state %>'-->
<script src="main.js"></script>
</body>
</html>