<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>  </title>
</head>
<body>
 <script>
     window.__PRELOADED_STATE__ = <%-JSON.stringify(state)%>
 </script>
 <div id="root"><%=app%></div>
<script src="main.js"></script>
</body>
</html>